/* based on Bootstrap Grid System */

/* xs: extra small devices (phones) */
@media only screen and (max-width: 768px) {
    /* Each Section Main Container */
    .parent {
        padding: 24px;
    }

    /* Section Title */
    .parent .title {
        font-size: 64pt;
    }

    .parent .quote {
        margin-top: -30px;
    }

    header .container {
        background-color: aqua;
    }

    /* Main Title */
    #landing h1 {
        font-size: 38pt;
    }

    /* Main Paragraph */
    #landing p {
        font-size: 14pt;
        width: 85%;
        max-width: 400px;
    }

    /* Features Section */
    #features {
        padding: 32px 24px;
    }

    /* Card Title */
    #features .card h2 {
        font-size: 16pt;
        line-height: 40pt;
    }

    /* Card Paragraph */
    #features .card p {
        font-size: 14pt;
    }

    /* Side Image Container And Its Content */
    #services .image__container,
    #services .image__container img,
    #services .image__container::after {
        display: none;
    }
}

/* sm: small devices (tablets) */
@media only screen and (min-width: 768px) {
    /* Each Section Main Container */
    .parent {
        padding: 64px;
    }

    /* Section Title */
    .parent .title {
        font-size: 72pt;
    }

    .parent .quote {
        margin-top: -30px;
    }

    header .container {
        background-color: bisque;
    }

    /* Main Title */
    #landing h1 {
        font-size: 44pt;
    }

    /* Main Paragraph */
    #landing p {
        font-size: 16pt;
        width: 55%;
        max-width: 450px;
    }

    /* Card Title */
    #features .card h2 {
        font-size: 16pt;
        line-height: 40pt;
    }

    /* Card Paragraph */
    #features .card p {
        font-size: 14pt;
    }

    /* Side Image Container And Its Content */
    #services .image__container,
    #services .image__container img,
    #services .image__container::after {
        display: none;
    }
}

/* md: medium devices (small laptops) */
@media only screen and (min-width: 992px) {
    /* Each Section Main Container */
    .parent {
        padding: 64px;
    }

    /* Section Title */
    .parent .title {
        font-size: 80pt;
    }

    .parent .quote {
        margin-top: -35px;
    }

    header .container {
        background-color: blueviolet;
    }

    /* Main Title */
    #landing h1 {
        font-size: 49pt;
    }

    /* Main Paragraph */
    #landing p {
        font-size: 18pt;
        width: 50%;
        max-width: 500px;
    }

    /* Card Title: Inherited From (sm) devices */
    /* Card Paragraph: Inherited From (sm) devices */

    /* Side Image Container And Its Content */
    #services .image__container,
    #services .image__container img,
    #services .image__container::after {
        display: block;
    }
}

/* lg: large devices (laptops and desktops) */
@media only screen and (min-width: 1200px) {
    /* Section Title */
    .parent .title {
        font-size: 100pt;
    }

    .parent .quote {
        margin-top: -45px;
    }

    header .container {
        background-color: chocolate;
    }

    /* Main Title */
    #landing h1 {
        font-size: 55pt;
    }

    /* Main Paragraph */
    #landing p {
        font-size: 20pt;
        width: 80%;
        max-width: 550px;
    }

    /* Card Title */
    #features .card h2 {
        font-size: 18pt;
        line-height: 60pt;
    }

    /* Card Paragraph */
    #features .card p {
        font-size: 15pt;
    }
}
