/* ************************** General Rules *************************** */
/* Root Variables */
:root {
    /* Colors */
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --background-color: #fafafa;
    --title-color: #727272;
    --quote-color: #086058;
    --dark-color: #454545;
    /* Fonts */
    --regular: 400;
    --extrabold: 800;
    /* Sizes */
    --space-16: 16px;
    --space-32: 32px;
    --space-64: 64px;
    --gap-30: 30px;
}
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-display: swap;
}
html { scroll-behavior: smooth; }
/* Each Section Main Container */
.parent { padding: var(--space-64); }
/* Even Section */
.parent:nth-of-type(2n) { background-color: var(--background-color); }
/* Odd Section */
.parent:nth-of-type(2n+1) { background-color: #ffffff; }
/* Main Grid Content */
.content {
    padding-top: var(--space-64);
    display: grid;
    gap: var(--gap-30);
}
/* Section Title */
.parent .title {
    color: var(--title-color);
    font-weight: var(--extrabold);
    letter-spacing: -2px;
    text-align: center;
}
.parent .quote {
    color: var(--quote-color);
    font-size: 14pt;
    font-weight: var(--regular);
    text-align: center;
}
/* ****************************** Header ****************************** */
header { padding: var(--space-16) var(--space-64); }
/* Main Container */
header .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Company Logo */
#logo {
    width: 60px !important;
    height: unset !important;
}
/* Menu Container */
#menu { position: relative; cursor: pointer; }
/* Menu Icon */
#icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 40px;
    height: var(--space-16);
}
/* Menu Icon Bars */
header .icon__bar {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    transition: 0.5s all;
}
header .icon__bar:nth-child(2) {
    width: 60%;
}
#menu:hover .icon__bar { background-color: var(--main-color); }
#menu:hover .icon__bar:nth-child(2) { width: 100%; }
/* Menu List */
#links {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--secondary-color);
}
#menu:hover #links { display: block; }
#links li:not(:last-child) { border-bottom: 2px solid var(--secondary-color); }
/* Menu Top Arrow */
#menu:hover #links::before,
#links:hover::before {
    content: '';
    border: 20px solid transparent;
    border-bottom-color: var(--secondary-color);
    position: absolute;
    top: -40px;
    right: 0;
}
/* Menu List Items */
#links a {
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: var(--regular);
    font-size: 14pt;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-left: 5px solid transparent;
    transition: 0.5s all;
}
#links a:hover {
    color: var(--main-color);
    border-left-color: var(--main-color);
    padding-left: 30px;
}
/* ****************************** Landing ***************************** */
/* Landing Section */
#landing {
    height: calc(100vh - 56px); /* - height of header element */
    background-color: var(--dark-color);
    background-image: url('../assets/images/landing.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Main Title */
#landing h1 {
    text-transform: capitalize;
    font-weight: var(--extrabold);
    font-size: 55pt;
    color: var(--main-color);
    margin-bottom: 10px;
}
/* Main Paragraph */
#landing p {
    font-size: 20pt;
    color: var(--quote-color);
    width: 45%;
    text-align: center;
}
/* ***************************** Features ***************************** */
/* Features Section */
#features {
    padding: var(--space-32) var(--space-64);
    display: grid;
    gap: var(--gap-30);
}
/* Single Feature Container */
#features .card {
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#features .card:hover { box-shadow: 4px 4px 4px var(--secondary-color); }
/* Card Icon */
#features .card img {
    height: 60px !important;
    width: unset !important;
}
/* Card Title */
#features .card h2 {
    font-weight: var(--extrabold);
    color: var(--secondary-color);
    text-transform: capitalize;
}
/* Card Paragraph */
#features .card p {
    font-weight: var(--regular);
    color: var(--dark-color);
    line-height: 32pt;
    text-align: center;
}
/* ***************************** Services ***************************** */
/* Main Container */
#services .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Card Icon */
#services .card img {
    height: 35px !important;
    width: unset !important;
    float: left;
}
/* Card Header */
#services .card h3 {
    color: var(--secondary-color);
    font-weight: var(--extrabold);
    margin-left: calc(35px + 30px);
}
/* Card Paragraph */
#services .card p {
    color: var(--dark-color);
    font-weight: var(--regular);
    line-height: 1.6;
    margin-top: 15px;
    margin-left: calc(35px + 30px);
}
/* Side Image Container */
#services .image__container { position: relative; margin-left: 100px; }
/* Side Image */
#services .image__container img {
    height: 320px !important;
    width: unset !important;
    position: relative;
    z-index: 1;
    transform: translate(-50px, 0);
}
/* Side Image Background Shape */
#services .image__container::after {
    content: '';
    width: 100px;
    height: 120%;
    background-color: var(--secondary-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
/* **************************** Portfolio ***************************** */
/* Single Card Container */
#portfolio .card { background-color: #ffffff; }
/* Card Image */
#portfolio .card img {
    width: 100% !important;
    height: unset !important;
}
/* Card Header */
#portfolio .card h3 {
    color: var(--secondary-color);
    font-weight: var(--extrabold);
    padding: 20px 20px 0;
}
/* Card Paragraph */
#portfolio .card p {
    color: var(--secondary-color);
    font-weight: var(--regular);
    line-height: 1.6;
    padding: 20px;
}
#portfolio .card:hover { box-shadow: 4px 4px 4px var(--secondary-color); }
/* ****************************** About ******************************* */
#about .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Side Image Container */
#about .image__container {
    width: 220px;
    position: relative;
    margin-right: 100px;
}
/* Side Image */
#about .image__container img {
    width: 100% !important;
    height: unset !important;
    transform: translate(50px, 0);
    position: relative;
    z-index: 1;
}
/* Side Image Background Shapes */
#about .image__container::before {
    content: '';
    position: absolute;
    top: -15%;
    left: 0;
    background-color: var(--secondary-color);
    width: 100px;
    height: 130%;
}
#about .image__container::after {
    content: '';
    position: absolute;
    top: -8%;
    border: solid var(--main-color);
    border-width: 0 0 60px 80px;
    width: 100px;
    height: calc(100% - 80px);
}
/* Text Container */
#about .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* Displayed Text */
#about .info p {
    line-height: 1.6;
    font-weight: var(--regular);
    font-size: 12pt;
    color: var(--dark-color);
}
/* First Paragraph */
#about .info p:first-child {
    font-size: 14pt;
    font-weight: var(--extrabold);
    color: var(--secondary-color);
    padding-bottom: 40px;
    position: relative;
}
/* Second Paragraph */
#about .info p:last-child { padding-top: 20px; }
/* Horizontal Line Between Paragraphs */
#about .info p:first-child::after {
    content: '';
    background-color: var(--main-color);
    width: 50%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* ***************************** Contact ****************************** */
#contact .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* Main Title */
#contact .content h3 {
    color: var(--secondary-color);
    font-weight: var(--extrabold);
    line-height: 2;
}
/* Displayed Mail */
#contact .mail {
    color: var(--quote-color);
    font-weight: var(--extrabold);
    padding: 5px 30px;
    padding-right: 0;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
/* Mail Background Shape */
#contact .mail::after {
    content: '';
    background-color: #ffffff;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
/* Social Media Container */
#contact .social {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
    padding-left: 60px;
}
/* Social Media List */
#contact .links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
/* Social Media Links */
#contact .links a { color: var(--secondary-color); text-decoration: none; transition: 0.5s all; }
#contact .links a:hover { color: var(--main-color); }
/* Social Media Icons */
#contact i { font-style: normal; }
/* ****************************** Footer ****************************** */
footer {
    background-color: var(--secondary-color);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--extrabold);
    font-size: 16pt;
    padding: 20px;
    text-transform: capitalize;
}
/* Company Name */
footer span {
    color: var(--main-color);
    text-transform: initial;
    margin-left: 10px;
    margin-right: 5px;
}
