/* Used 'Work Sans' Fonts:
    Regular: 400,
    ExtraBold: 800
*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800&display=swap');

/* Global Rules */
:root {
    --white-color: #ffffff;
    --green-color: #10cab7;
    --light-color: #f6f6f6;
    --dark-color: #575757;
    --darker-color: #2c4755;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;;
}

/* Each Section Main Container */
.parent {
    padding: 16px;
}

/* Container For Each Section */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ******************************************************************** */
/* ****************************** Header ****************************** */
/* ******************************************************************** */
/* Company Logo */
#logo {
    width: 60px;
}

/* Menu Container */
#menu {
    position: relative;
    cursor: pointer;
}

/* Menu Icon */
#icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 40px;
    height: 16px;
}

/* Menu Icon Bars */
header .icon__bar {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--darker-color);
    transition: 0.5s all;
}

header .icon__bar:nth-child(2) {
    width: 60%;
}

#menu:hover .icon__bar:nth-child(2) {
    width: 100%;
}

/* Menu List */
#links {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--dark-color);
}

#menu:hover #links {
    display: block;
}

#links li:not(:last-child) {
    border-bottom: 2px solid var(--darker-color);
}

/* Menu Top Arrow */
#menu:hover #links::before,
#links:hover::before {
    content: '';
    border: 20px solid transparent;
    border-bottom-color: var(--dark-color);
    position: absolute;
    top: -40px;
    right: 0;
}

/* Menu List Items */
#links a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--light-color);
    font-weight: 400;
    font-size: 14pt;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-left: 5px solid transparent;
    transition: 0.5s all;
}

#links a:hover {
    color: var(--green-color);
    border-left-color: var(--green-color);
    padding-left: 30px;
}
